<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>You Are see this hidden page Because You are authorised to see this page  </h1>
        <h3>Your session will Expire in 300 Sec</h3>
    </div>
</body>
</html>